---
# handlers/main.yml - Handlers for semaphore_ui role

- name: Restart semaphore container
  containers.podman.podman_container:
    name: "{{ semaphore_container_name }}"
    state: started
    restart: true
  listen: "restart semaphore"

- name: Stop semaphore container
  containers.podman.podman_container:
    name: "{{ semaphore_container_name }}"
    state: stopped
  listen: "stop semaphore"

- name: Wait for semaphore API after restart
  ansible.builtin.uri:
    url: "{{ semaphore_api_url }}{{ _semaphore_endpoints.ping }}"
    method: GET
    status_code: "{{ _semaphore_success_codes }}"
  register: _handler_api_health
  until: _handler_api_health.status in _semaphore_success_codes
  retries: "{{ (semaphore_wait_timeout / semaphore_wait_delay) | int }}"
  delay: "{{ semaphore_wait_delay }}"
  listen: "restart semaphore"

- name: Recreate semaphore container
  containers.podman.podman_container:
    name: "{{ semaphore_container_name }}"
    image: "{{ semaphore_image }}"
    state: started
    recreate: true
    restart_policy: "{{ semaphore_restart_policy }}"
    ports:
      - "{{ semaphore_host_port }}:{{ semaphore_port }}"
    volumes:
      - "{{ semaphore_volume_name }}:{{ _semaphore_data_path }}:Z"
      - "{{ _semaphore_git_volume | default(playbook_dir) }}:{{ _semaphore_git_mount }}"
    env:
      SEMAPHORE_DB_DIALECT: "{{ _semaphore_db_dialect }}"
      SEMAPHORE_ADMIN: "{{ semaphore_admin_user }}"
      SEMAPHORE_ADMIN_PASSWORD: "{{ semaphore_admin_password }}"
      SEMAPHORE_ADMIN_EMAIL: "{{ semaphore_admin_email }}"
      SEMAPHORE_ADMIN_NAME: "{{ semaphore_admin_name }}"
      SEMAPHORE_ACCESS_KEY_ENCRYPTION: "{{ _semaphore_encryption_key | default(semaphore_access_key_encryption) }}"
  no_log: true
  listen: "recreate semaphore"

- name: Wait for semaphore API after recreate
  ansible.builtin.uri:
    url: "{{ semaphore_api_url }}{{ _semaphore_endpoints.ping }}"
    method: GET
    status_code: "{{ _semaphore_success_codes }}"
  register: _handler_api_health
  until: _handler_api_health.status in _semaphore_success_codes
  retries: "{{ (semaphore_wait_timeout / semaphore_wait_delay) | int }}"
  delay: "{{ semaphore_wait_delay }}"
  listen: "recreate semaphore"
